input {
    text-align: center;
}

.meme {
    position: relative;
    width: 100%;
    margin-top: 1.2em;
    text-align: center;
}

.meme>img {
    width: 95%;
    max-width: 40em;
    max-height: 40em;
    margin-bottom: 1.5em;
    background: cover;
    background-repeat: no-repeat;
}

.meme>h2 {
    position: absolute;
    max-width: 36em;
    text-align: center;
    left: 49%;
    transform: translateX(-50%);
    margin: 0.3em 0;
    padding: 0 0px;
    font-family: impact, sans-serif;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000, 2px 2px 5px #000;
}

.meme>.bottom {
    bottom: 0.9em;
}

.meme>.top {
    top: 0.1em;
}